@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @font-face {
    font-family: lazy;
    src: url(./build/assets/fonts/lazy_dog.ttf);
  }
  @font-face {
    font-family: borel;
    src: url(./build/assets/fonts/Borel-Regular.ttf);
  }
  .lazy {
    font-family: lazy;
  }
  .borel {
    font-family: borel;
  }
  .active {
    border-top: 2px solid white;
    width: 50%;
  }
}
